<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%=name%></h1>

        <p><%= message %></p>

        <img src="<%= imgSrc %>" />

        <a href="/">home Page</a>
        <a href="/about">about Page</a>
        <a href="/contact">contact Page</a>
    </body>
</html>
